<h1>Guests List</h1>

<table>
  <thead>
    <tr>
      <th>RSVP</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Needs Bus</th>
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= link_to "show", admin_rsvp_path(guest.rsvp_id) %></td>
        <td><%= guest.first_name %></td>
        <td><%= guest.last_name %></td>
        <td><%= guest.rsvp.bus_required ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Song Requests</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <% @song_requests.each do |song_request| %>
      <tr>
        <td><%= song_request.title %></td>
        <td><%= song_request.artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>