`<!-- app/views/guests/new.html.erb -->
<%= form_with(model: @guest, url: guests_path, method: :post, class: 'form', data: { controller: 'guest', action: 'submitForm', target: 'guest.form' }) do |form| %>
  <fieldset data-guest-target="fieldSet" >
    <!-- Guest Fields -->
    <label class="label">Name(s) and Email</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= form.text_field :name, class: 'input' , placeholder: "e.g. Alex Smith and Mary Joe", required: true%>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <%= form.email_field :email, class: 'input', placeholder: "Your email", required: true %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <label class="label">Number of Guests</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= form.number_field :number_of_guests, class: 'input', placeholder: "e.g. 1, 2...", required: true %>
        </div>
      </div>
    </div>
    <!-- Address Fields -->
    <label class="label">Address</label>
    <%= form.fields_for :address do |address_fields| %>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= address_fields.text_field :street, class: 'input', placeholder:"Street address", required: true %>
          </div>
          <div class="field">
            <%= address_fields.text_field :line_2, class: 'input', placeholder:"Line 2", required: true %>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= address_fields.text_field :city, class: 'input', placeholder: "City", required: true %>
          </div>
          <div class="field">
            <%= address_fields.text_field :province, class: 'input', placeholder: "Province", required: true %>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= address_fields.text_field :postal_code, class: 'input', placeholder: "Postal Code", required: true %>
          </div>
          <div class="field">
            <%= address_fields.text_field :country, class: 'input', placeholder: "Country", required: true %>
          </div>
        </div>
      </div>
    <% end %>
    <%= form.fields_for :song_requests do |song_request_fields| %>
      <label class="label">Song Request</label>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= song_request_fields.text_field :title, class: 'input', placeholder: "Song title", required: true %>
          </div>
          <div class="field">
            <%= song_request_fields.text_field :artist, class: 'input', placeholder: "Artist name", required: true %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <%= form.submit "Submit", class: 'button', data: { action: 'click->guest#submitForm' } %>
      </p>
    </div>
  </fieldset>
<% end %>
