<%= render 'shared/navbar' %>
<section class="hero hero-custom is-flex is-align-items-center is-justify-content-center" id="top">
  <div class="has-text-centered">
    <%= button_to '✍️ RSVP', "/rsvps/new", class: "button is-large", method: :get %>
  </div>
</section><section class="section pb-0">
  <div class="container has-text-centered">
    <div class="block title is-1 ">Logan and Bri</div>
    <div class="block is-size-4">June 14, 2025</div>
    <div class="block is-size-5">#ItHasJustBriGunn</div>
      <%= button_to '✍️ RSVP', "/rsvps/new", class: "button", method: :get %>
    <% if false %>
      <div id="rsvp-button" class="block">
        <button class="button" data-controller="scroll", data-action="scroll#rsvp">RSVP</button>
      </div>
    <% end %>
    <section class="section has-text-centered">
      <div class="block is-size-4 is-size-5-mobile" id="countdown-timer">
        <%= content_tag(:div, "Loading...", data: {
      controller: "countdown",
      countdown_target: "countdown",
    }) %>
      </div>
    </section>
  </div>
</section>
<div class="wildflower-horizontal" id="our-story"></div>
<section class="section has-text-centered">
  <div class="container is-max-desktop">
    <div class="columns reverse-columns is-desktop is-vcentered">
      <div
        class="column is-three-quarters-tablet is-three-quarters-mobile is-half-desktop">
        <div class="content">
          <div class="block is-size-3 has-text-centered is-snell">Our Story</div>
          <div class="block">We met in highschool where we sat beside eachother in math
            class and went on our first date in December of 2015. We have been inseperable ever since. </div>
          <div class="block"> Our relationship has been filled with adventures, taking us all over in the world. In our final years of university we moved in together
            and adopted Nova, our little bundle of joy.
          </div>
          <div class="block"> We have been supporting each other through the first years of our careers, moving to Kingston, navigating adulthood, <a href="https://van.loganandbri.love">converting a van</a>, and travelling across the country.
          </div>
          <div class="block">So far, our life together has been filled with countless adventures, memories, and laughs and we are so excited for this thrilling new chapter of our lives to begin!
          </div>
        </div>
      </div>
      <div class="column">
        <div class="is-flex is-justify-content-center">
          <div class="box">
            <%= image_tag("https://res.cloudinary.com/ddtorekqd/image/upload/q_auto/f_auto/v1727363197/DSC_2279_websize_xmemaf.jpg?w=auto&h=auto", width: 300)%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section has-text-centered">
  <div class="container is-max-desktop">
    <div class="columns mobile-columns is-desktop is-vcentered">
      <div class="column">
        <div class="is-flex is-justify-content-center">
          <div class="box">
            <%= image_tag("https://res.cloudinary.com/ddtorekqd/image/upload/q_auto/f_auto/v1727363197/DSC_2372_websize_iwzlcu.jpg?w=auto&h=auto", width: 300)%>
          </div>
        </div>
      </div>
      <div
        class="column is-three-quarters-tablet is-three-quarters-mobile is-half-desktop">
        <div class="content">
          <div class="block is-size-3 has-text-centered is-snell">The Proposal</div>
          <div class="block">During August of 2023 we travelled to Denver, Colorado to see our favourite band, Mt. Joy, play at the red rocks amphitheatre in Boulder.</div>
          <div class="block">Near the end of an incredible performance, when the song “Bathroom Light” started to play, I turned to Bri and got down on one knee to ask her to marry me.</div>
          <div class="block">It was the first (and probably only) time Bri has ever been truly speechless. Thankfully, she said yes! 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="wildflower-bottom"></div>
<section class="hero hero-hands is-bold"></section>
<section class="section wildflower-repeat py-6 px-6" id="info">
  <div class="container is-max-desktop">
    <div class="box">
      <div class="section has-text-centered pb-6">
        <div class="columns mobile-columns venue-columns is-desktop is-centered">
          <div class="column is-half is-two-thirds-mobile is-two-thirds-tablet">
            <div class="block is-size-3 has-text-centered is-snell">Where</div>
            <div class="block"><a href="https://maps.apple.com/?address=9661%20Ivan%20Dr,%20Ilderton%20ON%20N0M%202A0,%20Canada&auid=10664115998874129347&ll=42.987132,-81.512187&lsp=9902&q=Knottingwood">Knottingwood Events</a></div>
            <div class="block">9661 Ivan Drive, N0M2A0, Ilderton.</div>
            <div class="block">Bus transportation to and from the venue will be provided. Departing at 3:15 pm from Superstore Oxford St W.</div>
          </div>
          <div class="column is-half is-two-thirds-mobile is-two-thirds-tablet">
            <div class="block is-size-3 has-text-centered is-snell">When</div>
            <div class="block">June 14, 2025.</div>
            <div class="block">Ceremony starts at 4:00 pm.</div>
            <div class="block">We kindly ask for a device free ceremony.</div>
          </div>
        </div>
      </div>
      <div class="section has-text-centered pt-0">
        <div class="block is-size-5 has-text-centered is-snell">Your presence is the best gift we can hope to receive. If you'd like to contribute to our dreams, a monetary gift would be cherished as we adventure and build our life together.</div>
        <%= button_to '✍️ RSVP', "/rsvps/new", class: "button", method: :get %>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-right">
    <p>
      Designed and built by <a href="https://logangunn.com">Logan Gunn</a>
    </p>
  </div>
</footer>
<div id="rsvp-modal" class="modal <%= 'is-active' if @show_modal %>" data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-content">
    <div class="box">
      <div class="section">
        <div class="block title is-3 has-text-centered">Thank You!</div>
        <% if @attending %>
          <div class="block text is-3" > We look forward to spending our special night with you! Look in your email inbox for a message from <strong>loganandbrigunn@gmail.com<strong></div>
        <% else %>
          <div class="block text is-3" > Thank you for your RSVP, You will be missed!</div>
        <% end %>
        </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" data-action="click->modal#close"></button>
    </div>
  </div>
</div>
