<section class="hero hero-custom"></section>
<section class="section">
  <div class="container has-text-centered">
    <div class="block title is-1">Logan and Bri</div>
    <div class="block is-size-4">June 14, 2025</div>
    <div class="block is-size-5">#ItHasJustBriGunn</div>

    <% if false %>
    <div id="rsvp-button" class="block">
      <button class="button" data-controller="scroll", data-action="scroll#rsvp">RSVP</button>
    </div>
    <% end %>
    
    <section class="section has-text-centered">
  <div class="block is-size-4 is-size-5-mobile" id="countdown-timer">
    <%= content_tag(:div, "Loading...", data: {
      controller: "countdown",
      countdown_target: "countdown",
    }) %>
  </div>
</section>
  </div>
</section>
<section class="section has-text-centered">
  <div class="container is-max-desktop">
    <div class="columns reverse-columns is-desktop is-vcentered">
      <div
        class="column is-three-quarters-tablet is-three-quarters-mobile is-half-desktop">
        <div class="content is-normal">
          <div class="block is-size-3 has-text-centered">Our Story</div>
          <div class="block">We met in highschool where we sat beside eachother in math
            class and went on our first date in December of 2015. We have been inseperable ever since. </div>
          <div class="block"> Our relationship has been filled with adventures, taking us all over in the world. In our final years of university we moved in together
            and adopted Nova, our little bundle of joy.
          </div>
          <div class="block"> We have been supporting each other through the first years of our careers, briefly moving to Kingston, and navigating adulthood.
          </div>
          <div class="block">So far, our life together has been filled with countless adventures, memories, and laughs and we are so excited for this thrilling new chapter of our lives to begin!
          </div>
        </div>
      </div>
      <div class="column">
        <div class="is-flex is-justify-content-center">
          <div class="box">
            <%= image_tag("https://res.cloudinary.com/ddtorekqd/image/upload/v1698030385/story_mosfvx.jpg", width: 300)%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section has-text-centered">
  <div class="container is-max-desktop">
    <div class="columns mobile-columns is-desktop is-vcentered">
      <div class="column">
        <div class="is-flex is-justify-content-center">
          <div class="box">
            <%= image_tag("https://res.cloudinary.com/ddtorekqd/image/upload/v1698030385/proposal_mfgita.jpg", width: 300)%>
          </div>
        </div>
      </div>
      <div
        class="column is-three-quarters-tablet is-three-quarters-mobile is-half-desktop">
        <div class="content">
          <div class="block is-size-3 has-text-centered">The Proposal</div>
          <div class="block">During August of 2023 we travelled to Denver, Colorado to see our favourite band, Mt. Joy, play at the red rocks amphitheatre in Boulder.</div>
          <div class="block">Near the end of an incredible performance, when the song “Bathroom Light” started to play, I turned to Bri and got down on one knee to ask her to marry me.</div>
          <div class="block">It was the first (and probably only) time Bri has ever been truly speechless. Thankfully, she said yes! 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section has-text-centered"></section>

<section class="hero hero-venue is-bold"></section>

<section class="section">
  <div class="container is-max-desktop">
    <div class="section has-text-centered">
      <div class="columns mobile-columns venue-columns is-desktop is-centered">
        <div class="column is-half is-two-thirds-mobile is-two-thirds-tablet">
          <div class="block subtitle is-3">Where</div>
            <div class="block"><a href="https://maps.apple.com/?address=9661%20Ivan%20Dr,%20Ilderton%20ON%20N0M%202A0,%20Canada&auid=10664115998874129347&ll=42.987132,-81.512187&lsp=9902&q=Knottingwood">Knottingwood Events</a></div>
       <div class="block">9661 Ivan Drive, N0M2A0, Ilderton.</div>
       <div class="block">Bus transportation to and from the venue will be provided. Departing from Superstore Oxford St W.</div>
        </div>
        <div class="column is-half is-two-thirds-mobile is-two-thirds-tablet">
          <div class="block subtitle is-3">When</div>
          <div class="block">June 14, 2025.</div>
          <div class="block">Ceremony starts at 3:00 pm.</div>
          <div class="block">We kindly ask for a device free ceremony.</div>
        </div>
      </div>
    </div>
    <div class="section has-text-centered">
      <div class="block subtitle is-5"><strong>Cards only please.</strong></div>
    </div>
  </div>
</section>

<% if false %>
<section id="rsvp-form" class="section">
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <h1 class="title has-text-centered">RSVP</h1>
        <div class="block">
          <%= render 'shared/thank_you_message' %>
        </div>
        <%= render 'shared/rsvp_form', guest: @guest %>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

<footer class="footer">
  <div class="content has-text-right">
    <p>
      Designed and built by <a href="https://logangunn.com">Logan Gunn</a>
    </p>
  </div>
</footer>
