<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div class="content-container">
        <div class="content">
          <div class="content">
            <p><strong>Email:</strong> <%= @rsvp.email %> </p>
            <p><strong>Guests:</strong></p>
            <ul>
              <% @rsvp.guests.each do |guest| %>
                <li><%= guest.first_name %> <%= guest.last_name %></li>
              <% end %>
            </ul>
            <p><strong>Attending:</strong><%= @rsvp.attending? %></p>
            <p><strong>Bus required?:</strong><%= @rsvp.bus_required? %></p>
            <p><strong>Song Requests:</strong></p>
            <ul>
              <% @rsvp.song_requests.each do |song| %>
                <li><%= song.title %> - <%= song.artist %></li>
              <% end %>
            </ul>
            <p>The total number of attending guests is now: <%= @attending_guests %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
