<section id="rsvp-form" class="section">
  <div class="container is-max-desktop">
    <h1 class="title has-text-centered">RSVP</h1>
    <%= form_with(model: @rsvp) do |form| %>
      <%= form.hidden_field :step, value: @step %>
      <fieldset data-form-target="fieldSet" >
        <!-- Guest Fields -->
        <label class="label">Name(s)</label>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <%= form.text_field :first_name, class: 'input' , placeholder: "First Name", required: true%>
            </div>
            <div class="field">
              <%= form.text_field :last_name, class: 'input', placeholder: "Last Name", required: true%>
            </div>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <%= form.submit "Next", class: 'button', data: { action: 'click->form#submitForm' } %>
          </p>
        </div>
      </fieldset>
    <% end %>
  </div>
</section>
