<div class="wildflower-horizontal"></div>
<% unless first_step? %>
  <%= button_to 'Previous', { controller: "rsvps", action: "edit" }, :params => {step: previous_step}, :method => "get", class: "button previous-button" %>
<% end %>
<% case @step %>
<% when "enter_guests" %>
<%= render 'enter_guests', rsvp: @rsvp, step: @step %>
<% when "enter_email" %>
<%= render 'enter_email', rsvp: @rsvp, step: @step %>
<% when "enter_bus_info" %>
<%= render 'enter_bus_info', rsvp: @rsvp, step: @step %>
<% when "enter_songs" %>
<%= render 'enter_songs', rsvp: @rsvp, step: @step %>
<% end %>
