<h1>RSVP Details</h1>
<br/>

<%= form_with url: "#" do %>
  <%= button_tag 'Edit RSVP', type: 'button', onclick: "window.location='#{request.base_url}/rsvps/#{@rsvp.to_param}/edit?step=enter_email'" %>
<% end %>

<br/>
<%= form_with(url: admin_rsvp_path(@rsvp.id), method: :delete, data: { confirm: 'Are you sure you want to remove this RSVP?' }) do %>
  <%= submit_tag 'Remove RSVP', class: 'remove-button' %>
<% end %>

<br/>
<br/>

<p><strong>ID:</strong> <%= @rsvp.id %></p>
<p><strong>Email:</strong> <%= @rsvp.email %></p>
<p><strong>Bus Required:</strong> <%= @rsvp.bus_required ? '✅' : '❌' %></p>
<p><strong>Complete:</strong> <%= @rsvp.complete? ? '✅' : '❌' %></p>
<p><strong>Created At:</strong> <%= @rsvp.created_at.strftime("%B %d, %Y %H:%M") %></p>

<br/>
<h2>Guests</h2>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <% @rsvp.guests.each do |guest| %>
      <tr>
        <td><%= guest.first_name %></td>
        <td><%= guest.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<h2>Song Requests</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <% @rsvp.song_requests.each do |song_request| %>
      <tr>
        <td><%= song_request.title %></td>
        <td><%= song_request.artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>